.signup-form {
  max-width: max;
  margin: auto;
  background: #f0faff;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  font-family: sans-serif;
}
.centered-login-button {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.signup-form h2 {
  color: #022125;
  text-align: center;
}
.user-type-options {
  display: flex; color:black;
  gap: 1rem; /* space between options */
  align-items: center;
  margin-bottom: 1rem;
}

.user-type-options label {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  font-weight: normal;
}

fieldset {
  border: 1px solid #87d3c9;
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 8px;
}

legend {
  font-weight: bold;
  color: #0b7a75;
}

input, select, textarea {
  width: 100%;
  padding: 10px;
  margin-top: 8px;
  margin-bottom: 15px;
  border: 1px solid #bde0db;
  border-radius: 6px;
}

button {
  background-color: #00a693;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #dddbd3e0;
}
